# Dependencies
node_modules/

# Local Environment & Build Output
.vercel/
.firebase/
.firebase-debug.log*
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Logs & Scratch Scripts
*.log
scratch/
find_video.ps1

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
